---
layout: bootcamp
root: .
venue: University of Missouri - Kansas City
address: TBD
country: United-States
humandate: Feb 15-16, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-02-15
enddate: 2014-02-16
latlng: 39.091816,-94.550378
registration: open
instructor: ["Emily Jane McTavish", "Jonah Duckles"]
contact: admin@software-carpentry.org
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/r.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}

 <p>Please follow the setup instructions below (pick the appropriate operating system) to install those tools on the laptop that you will be bringing to the bootcamp. (If you are having problems you can install the VM-virtual machine, but otherwise it is not needed.)
    </p>
<h3>Windows</h3>
<div class="row-fluid">
  <div class="span6">

    {% include setup/windows-editor.html %}
    {% include setup/windows-git.html %}
    {% include setup/windows-bash.html %}
    {% include setup/windows-editor.html %}
    {% include setup/windows-anaconda.html %}
    {% include setup/windows-add-nano.html %}
 
  </div>
  </div>
  
  <h3>Mac OS/X</h3>
<div class="row-fluid">
  <div class="span6">
  
{% include setup/macosx-bash.html %}
{% include setup/macosx-git.html %}
{% include setup/macosx-editor.html %}
{% include setup/macosx-anaconda.html %}
  </div>
 
  </div>
  
    <h3>Linux</h3>
<div class="row-fluid">
  <div class="span6">
  
{% include setup/linux-bash.html %}
{% include setup/linux-git.html %}
{% include setup/linux-editor.html %}
{% include setup/linux-anaconda.html %}
 
  </div>
  </div>
  
      <h3>Virtual machine</h3>
<div class="row-fluid">
  <div class="span6">
  {% include setup/vm.html %}
 </div>
  </div>
<hr/>

